button {
    padding: 10px;
    background: grey;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: white;
}